@page "/blog2"

@inject IStringLocalizer<Blog2Page> L

<RadzenContent Container="main">
    <ChildContent>
        <div class="col-10 offset-1">
            <div class="row blog-position">
                <div class="col-8">
                    <RadzenHeading Size="H1" Text="@L["Title"]" />

                    <RadzenHeading Size="H3" Text="@L["Text1"]" class="blog-header" />
                    <p>@L["Text1_1"]</p>
                    <p>@L["Text1_2"]</p>
                    <p>@L["Text1_3"]</p>
                    <p>@L["Text1_4"]</p>

                    <RadzenHeading Size="H3" Text="@L["Text2"]" class="blog-header" />
                    <p>@L["Text2_1"]</p>
                    <p>@L["Text2_2"]</p>
                    <p>@L["Text2_3"]</p>  
                    <div class="col-10 offset-1 blog-pic">
                        <img src="/images/blog2_1.jpg" style="width: 100%">
                    </div>
                    <p>@L["Text2_4"]</p>
                    <p>@L["Text2_5"]</p>
                    <p>@L["Text2_6"]</p>
                    <p>@L["Text2_7"]</p>

                    <RadzenHeading Size="H3" Text="@L["Text3"]" class="blog-header" />
                    <p>@L["Text3_1"]</p>
                    <p>@L["Text3_2"]</p>
                    <p>@L["Text3_3"]</p>

                    <RadzenHeading Size="H3" Text="@L["Text4"]" class="blog-header" />
                    <p>@L["Text4_1"]</p>
                    <p>@L["Text4_2"]</p>
                    <div class="col-10 offset-1 blog-pic">
                        <img src="/images/blog2_2.jpg" style="width: 100%">
                        <span style="font-style: italic">
                            @L["Source"]
                            <a target="_blank" href="https://www.artsprofessional.co.uk/magazine/article/creativity-innovation-change">https://www.artsprofessional.co.uk/magazine/article/creativity-innovation-change</a>
                        </span>
                    </div>

                    <RadzenHeading Size="H3" Text="@L["Text5"]" class="blog-header" />
                    <p>@L["Text5_1"]</p>
                    <p>@L["Text5_2"]</p>
                    <p>@L["Text5_3"]</p>
                    <div class="col-10 offset-1 blog-pic">
                        <img src="/images/blog2_3.jpg" style="width: 100%">
                        <p style="font-style: italic">@L["Text5_4"]</p>
                    </div>
                    <p>@L["Text5_5"]</p>
                    <p>@L["Text5_6"]</p>

                    <RadzenHeading Size="H3" Text="@L["Text6"]" class="blog-header" />
                    <p>@L["Text6_1"]</p>
                    <p>@L["Text6_2"]</p>
                    <p>@L["Text6_3"]</p>
                    <p>@L["Text6_4"]</p>
                    <p>@L["Text6_5"]</p>
                    <p>@L["Text6_6"]</p>  
                    <div class="col-10 offset-1 blog-pic">
                        <img src="/images/blog2_4.jpg" style="width: 100%">
                        <span style="font-style: italic">
                            @L["Source"]
                            <a target="_blank" href="https://blog.ganttpro.com/es/guia-completa-para-los-diagramas-de-gantt/">https://blog.ganttpro.com/es/guia-completa-para-los-diagramas-de-gantt/</a>
                        </span>
                    </div>
                    <p>@L["Text6_7"]</p>

                    <RadzenHeading Size="H3" Text="@L["Text7"]" class="blog-header" />
                    <p>@L["Text7_1"]</p>
                    <p>@L["Text7_2"]</p>
                    <p>@L["Text7_3"]</p>
                    <p>@L["Text7_4"]</p>
                    <p>@L["Text7_5"]</p>
                    <p>@L["Text7_6"]</p>

                    <RadzenHeading Size="H3" Text="@L["Text8"]" class="blog-header" />
                    <p>@L["Text8_1"]</p>
                    <p>@L["Text8_2"]</p>
                    <p>@L["Text8_3"]</p>
                    <p>@L["Text8_4"]</p>
                    <p>@L["Text8_5"]</p>
                    <p>@L["Text8_6"]</p>
                    <p>@L["Text8_7"]</p>
                </div>

                <div class="col-4">
                    <div class="d-flex flex-column">
                        <News />
                    </div>
                </div>
            </div>
        </div>
    </ChildContent>
</RadzenContent>

